<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">№</th>
            <th class="text-center">Название</th>
            <th class="text-center">Контент</th>
            <th class="text-center">Рейтинг</th>
            {% if app.user %}
                <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody id="tasks-table-body">
    {% set num = startNum %}
    {% for task in paginator.items %}
        {% set num = num + 1 %}
        <tr>
            <td class="text-center" style="width: 60px;">{{ num }}</td>
            <td class="text-center" style="width: 60px;">{{ task.id }}</td>
            <td style="word-wrap: break-word;">
                <a href="{{ path('task_view', { id: task.id }) }}">{{ task.title }}</a>
            </td>
            <td style="word-wrap: break-word;">{{ task.content }}</td>
            <td></td>
            {% if app.user %}
                <td class="text-center" style="width: 300px;">
                    {% if task.show_btns %}
                        <button class="btn btn-outline-info" onclick="showTask({{ task.id }})">Открыть</button>
                        <button class="btn btn-outline-success" onclick="editTask({{ task.id }})">Изменить</button>
                        <button class="btn btn-outline-danger" onclick="deleteTask({{ task.id }})">Удалить</button>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include '/utils/paginator.html.twig' with {'block': 'pag_tasks'} %}