<table class="table table-bordered">
    <thead>
    <tr>
        <th class="text-center">#</th>
        <th class="text-center">№</th>
        <th class="text-center">Название</th>
        <th class="text-center">Контент</th>
    </tr>
    </thead>
    <tbody id="tasks-table-body">
    {% set num = startNum %}
    {% for task in paginator.items %}
        {% set num = num + 1 %}
        <tr>
            <td class="text-center" style="width: 60px;">{{ num }}</td>
            <td class="text-center" style="width: 60px;">{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.content }}</td>
            {% if app.user %}
                <td class="text-center" style="width: 300px;">
                    <button class="btn btn-outline-info" onclick="showTask({{ task.id }})">Открыть</button>
                    <button class="btn btn-outline-success" onclick="editTask({{ task.id }})">Изменить</button>
                    <button class="btn btn-outline-danger" onclick="deleteTask({{ task.id }})">Удалить</button>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% include '/utils/paginator.html.twig' with {'block': 'pag_tasks'} %}