{% set _currentPage = app.request.query.get('page') ?: 1 %}
{% set _currentRoute = app.request.attributes.get('_route') %}
{% set _lastPage = paginator.lastPage %}
{% set _currentParams = app.request.query.all|merge(app.request.attributes.get('_route_params')) %}

{% if paginator.lastPage > 1 %}
    <nav>
        <ul id="{{ block }}" class="pagination justify-content-center">
            <li class="page-item{{ _currentPage <= 1 ? ' disabled' : '' }}">
                <span class="page-link" style="cursor: pointer;" aria-label="Previous" onclick="getByPage('{{ block }}', {{ _currentPage - 1 }})">&laquo; Назад</span>
            </li>
            {% for i in 1..paginator.lastPage %}
                <li class="page-item {% if i == _currentPage %}active{% endif %}">
                    <span class="page-link" style="cursor: pointer;" onclick="getByPage('{{ block }}', {{ i }})">{{ i }}</span>
                </li>
            {% endfor %}
            <li class="page-item {{ _currentPage >= paginator.lastPage ? ' disabled' : '' }}">
                <span class="page-link" style="cursor: pointer;" aria-label="Next" onclick="getByPage('{{ block }}', {{ _currentPage + 1 }})">Далее &raquo;</span>
            </li>
        </ul>
    </nav>
{% endif %}